<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LOD2 Realtime Twitter Status</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
<style>
article.tweet {
	margin-bottom:10px;
}
</style>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
(function() {
	$(function() {
		var WebSocket = window.WebSocket || window.MozWebSocket;
		var ws = new WebSocket("ws://127.0.0.1:3000");
		var container = $('#container');
		ws.onmessage = function(message) {
			try {
				var tweet = JSON.parse(message.data).tweet;
				console.log(tweet);
				container.prepend('<article class="tweet" id="tweet-'+tweet.id+'"><div class="user" data-user-id="'+tweet.user.id+'"><img src="'+tweet.user.profile_image_url+'"/>'+tweet.user.name+'</div>'+tweet.text+'</article>');
			}
			catch(e) {
				//console.error(e);
			}
		}
	});
})()
</script>
</head>
<body>
<div class="container" id="container">

</div>
</body>
</html>